<!--Content in second block of Home page-->
<span class="even">
    <h1 class="display-4">MAIN Motivation</h1>
    <p class="blockquote" id="missionStatement">Learn to excel in the field to enormous heights<br></p>
     <p class="lead">
     To know more about me, visit the <a href="/about"><strong>About me</strong></a> page.
    </p>
</span>