<!--Project #2 Slot Machine (displayed in unit 3 of projects page)-->
<div class="media">
  <div class="media-body">
    <h5 class="display-4">Bug Smasher</h5>
    
  </div>
  <img src="/Assets/images/BugSmasher.png" id="SlotMachine" width="40%" class="align-self-center mr-3" alt="Image of a Slot Machine web app" style="float: right; padding-right: 50px;">

</div>