<!--Project #3 Dice Roller (displayed in unit 2 of projects page)-->
<div class="media">
  <img src="/Assets/images/drawTable.png" width="40%" class="align-self-center mr-3" alt="Image of a Dice Roller web app">
  <div class="media-body">
    <h5 class="display-4">Draw Table</h5>
    
  </div>
</div>