<!--Project #1 Music Player (displayed in unit 2 of projects page)-->
<div class="media">
  <img src="/Assets/images/BMR.png" width="40%" class="align-self-center mr-3" alt="Image of a Music Player">
  <div class="media-body">
    <h5 class="display-4">BMR</h5>
    
  </div>
</div>