<!--Content displayed in unit 2 of services page-->
<h5 class="lead" id="servicesSubTitle">Services offered by me include: </h5>
<ul>
    <li class="services-list-item">General Programming
    <span class="progress">
        <span class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></span>
    </span>        
    </li> 
    <li class="services-list-item">Networking
    <span class="progress">
        <span class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></span>
    </span>        
    </li>   
    <li class="services-list-item">Web development
    <span class="progress">
        <span class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></span>
    </span>        
    </li>   
    <li class="services-list-item">Databases
    <span class="progress">
        <span class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></span>
    </span>        
    </li>   
</ul>
